:root {
  --orange: #e7853e;
  --dark-orange: #bd6c32;
  --white: #ffffff;
  --black: #000000;
  --purple: #c352eb;
}

html {
  background-color: var(--orange);
}

.app {
  background-image: url("../assets/images/BackgroundBricks.jpg");
  min-height: 100vh;
  z-index: -10;
}

.flex {
  display: flex;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.bg-orange {
  background-color: var(--orange);
}
.bg-white {
  background-color: var(--white);
}
.bg-purple {
  background-color: var(--purple);
}
.bg-yellow {
  background-color: yellow;
}
.bg-green {
  background-color: green;
}

.link {
  text-decoration: none;
}

.clickable {
  cursor: pointer;
}

.width-100 {
  width: 100%;
}
.height-100 {
  height: 100%;
}

.fs-45 {
  font-size: 45px;
}
.fs-40 {
  font-size: 40px;
}
.fs-35 {
  font-size: 35px;
}
.fs-30 {
  font-size: 30px;
}
.fs-25 {
  font-size: 25px;
}
.fs-20 {
  font-size: 20px;
}

.f-bold {
  font-weight: bolder;
}
.f-light-bold {
  font-weight: bold;
}
.f-light-regular {
  font-weight: 500;
}

.f-orange {
  color: var(--orange);
}
.f-white {
  color: var(--white);
}
.f-black {
  color: var(--black);
}

.margin-0 {
  margin: 0px;
}
.margin-5 {
  margin: 5px;
}
.margin-10 {
  margin: 10px;
}
.margin-15 {
  margin: 15px;
}
.margin-20 {
  margin: 20px;
}
.margin-25 {
  margin: 25px;
}
.margin-30 {
  margin: 30px;
}

.margin-vertical-0 {
  margin: 0px 0px;
}
.margin-vertical-5 {
  margin: 5px 0px;
}
.margin-vertical-10 {
  margin: 10px 0px;
}
.margin-vertical-15 {
  margin: 15px 0px;
}
.margin-vertical-20 {
  margin: 20px 0px;
}
.margin-vertical-25 {
  margin: 25px 0px;
}
.margin-vertical-30 {
  margin: 30px 0px;
}

.padding-0 {
  padding: 0px;
}
.padding-5 {
  padding: 5px;
}
.padding-10 {
  padding: 10px;
}
.padding-15 {
  padding: 15px;
}
.padding-20 {
  padding: 20px;
}
.padding-25 {
  padding: 25px;
}
