.inputs-container {
  width: 45vw;
}

.inputs-container textarea {
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 10px;
  resize: none;
  padding: 0.5em;
}

.notes-container {
  width: 100%;
}

.inputs-container textarea:focus {
  border: none;
  outline: none;
}
